<!DOCTYPE html>
<html>
<head>
  <title>UiText</title>
  <%= stylesheet_link_tag    "ui_text/application", media: "all" %>
  <%= javascript_include_tag "ui_text/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
